<div class="container mt-5">
    <h1>Find Result</h1>
    <form #stuSearch="ngForm" (ngSubmit)="studentSearch(stuSearch.value)" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="rollNumber">Roll Number</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" name="rollNumber" required ngModel>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="studentName" required ngModel>
            </div>
        </div>
        <button class="btn btn-info">Submit</button>
<button class="btn btn-danger" type="reset">Clear</button>
    </form>
    <button [routerLink]="['']" class="btn btn-secondary mt-2">Back</button>
</div>