.tab{
    display: inline-block;
    margin-left: 50px;
}
.tab2{
    display: inline-block;
    margin-left: 171px;
}
.tab3{
    display: inline-block;
    margin-left: 40px;
}
.tab4{
    display: inline-block;
    margin-left: 179px;
}